@use "../abstracts" as *;

/* component accordion */
.component-accordion {
  border-top: 1px solid black;

  // accordion 공통 - item 영역
  .accordion-item {
    border-bottom: 1px solid gray;
    &[data-state="open"] {
      .collapse-tit {
        &::before {
          transform: translateY(-50%) rotate(180deg);
        }
      }
      .collapse-content {
        height: auto;
        @include rem(padding, 30);
        border-top: 1px solid darkgray;
      }
    }
  }

  // accordion 공통 - title 영역
  .collapse-tit {
    position: relative;
    width: 100%;
    @include rem(padding, 20);
    background-color: lightgray;
    @include f14(700);
    text-align: left;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      @include rem(right, 10);
      transform: translateY(-50%);
      @include rem(width, 20);
      @include rem(height, 20);
      @include ico-arrow-down(black);
      transition: transform 0.35s;
    }
  }

  // accordion 공통 - content 영역
  .collapse-content {
    height: 0;
    @include rem(padding, 0 30);
    @include f12;
    color: black;
    overflow: hidden;
    //   transition:
    //     height 0.35s ease-in-out,
    //     padding 0.35s,
    //     border-top-width 0.35s;
  }
}
