@use "../abstracts" as *;

.component-swiper {
  &[data-mobile-only="true"] {
    .swiper-controls {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }
  &[data-desktop-only="true"] {
    .swiper-controls {
      display: block;
      @include mobile {
        display: none;
      }
    }
  }
}

.swiper-container {
  position: relative;
  overflow: hidden;
}

// swiper 공통 - 슬라이드 그룹 영역
.swiper-wrapper {
}

// swiper 공통 - 슬라이드 영역
.swiper-slide {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

// swiper 자동설정 버튼
.swiper-autoplay {
  padding: 20px;
  border: 1px solid $line-666666;
  &.play {
    &::before {
      content: "정지";
    }
  }
  &.stop {
    &::before {
      content: "재생";
    }
  }
}
