node_modules
/node_modules

.sublime-gulp.cache
.history

www/
/www
build/
/build
dist/
/dist
src/css/

_sass_map/
sass_maps/

__etribe_ux
_backup/
/_backup
.idea/
*.iml

**/test/
src/guide/pages/validation/

.DS_Store

*.map
src/**/*.map
/src/assets/scripts/ui/components/index.cjs
/src/assets/scripts/ui/hooks/index.cjs
/src/assets/scripts/ui/utils/index.cjs
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/src/assets/js/ui/components/index.cjs
/src/assets/js/ui/hooks/index.cjs
/src/assets/js/ui/utils/index.cjs
.vercel
