{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss"
  ],
  "plugins": [
    "stylelint-scss",
    "./gulp/config/stylelintCustomRules.js"
  ],
  "rules": {
    "block-no-empty": null,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "rule-empty-line-before": null,
    "no-empty-source": null,
    "color-hex-length": "long",
    "declaration-block-no-redundant-longhand-properties": null,
    "at-rule-empty-line-before": null,
    "declaration-empty-line-before": null,
    "media-feature-range-notation": null,
    "selector-pseudo-element-colon-notation": "double",
    "comment-empty-line-before": null,
    "property-no-vendor-prefix": null,
    "value-no-vendor-prefix": null,
    "selector-attribute-quotes": null,
    "no-duplicate-selectors": null,
    "no-descending-specificity": null,
    "color-function-notation": null,
    "alpha-value-notation": null,
    "at-rule-no-vendor-prefix": null,
    "shorthand-property-no-redundant-values": null,
    "length-zero-no-unit": null,
    "number-max-precision": null,
    "selector-no-vendor-prefix": null,
    "font-family-name-quotes": null,
    "function-url-quotes": null,
    "selector-not-notation": null,
    "plugin/no-block-with-vertical-align": true,
    "plugin/no-margin-with-inline": true,
    "plugin/no-positionless-offsets": true,
    "plugin/no-invalid-class-suffix": true,
    "plugin/no-invalid-class-prefix": true,
    "plugin/color-no-hex": true
  },
  "overrides": [
    {
      "files": ["**/_variables.scss"],
      "rules": {
        "value-keyword-case": null
      }
    }
  ]
}