<!doctype html>
<html lang="ko">
  <head>
    @@include('pathGuideInclude/_component_head.html', {"title": "project components guide"})
  </head>
  <body>
    <div class="uid-container">
      @@include('pathGuideInclude/_component_header.html') @@include('pathGuideInclude/_component_navigation.html')

      <main class="uid-main code-guide">
        <h1 class="uid-title01">Input</h1>
        <p class="uid-desc">가이드 모음</p>

        <section class="uid-component">
          <h2 class="uid-title02">기본 가이드</h2>
          <ul class="uid-list">
            <li> 설계 단계의 특별한 UX 요청이나 개발 환경에 따른 제약으로 개발 요청 사항이 없다면 <strong>테스트 완료된 코드</strong>를 <strong>복사 붙여 넣기</strong>를 <strong>기본</strong>으로 합니다. </li>
            <li>Input 컴포넌트는 반드시 <code class="uid-codeblock">component-input</code> 만 사용해야 합니다.</li>
          </ul>
        </section>

        <!-- <section class="uid-component">
          <h2 class="uid-title02">테스트된 브라우저(최신 버전 기준)</h2>
          <div class="uid-table">
            <table class="table-fixed">
              @@include('pathGuideInclude/_component_browsers_check01.html')
              <tbody>
                <tr>
                  <td>&check;</td>
                  <td>&check;</td>
                  <td>&check;</td>
                  <td>&check;</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <section class="uid-component">
          <h2 class="uid-title02">테스트된 스크린 리더</h2>
          <div class="uid-table">
            <table class="table-fixed">
              @@include('pathGuideInclude/_component_screen_reader_check01.html')
              <tbody>
                <tr>
                  <td>none</td>
                  <td>supported</td>
                  <td>supported</td>
                  <td>partial</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section> -->

        <section class="uid-component">
          <h2 class="uid-title02">협의 할 점</h2>
          <ul class="uid-list">
            <li>협의점을 작성 합니다.</li>
          </ul>
        </section>

        <section class="uid-component">
          <h2 class="uid-title02">접근성 가이드</h2>
          <ul class="uid-list">
            <li>가이드를 작성 합니다.</li>
          </ul>
        </section>

        <section class="uid-component">
          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Input</h2>
            <span class="uid-guide"> 기본 Input 컴포넌트입니다.<br /><code class="uid-codeblock">data-props-clear="true"</code> 속성을 적용하면 입력 필드에 클리어 버튼이 표시됩니다.</span>
            <ul class="uid-list">
              <li>
                <strong>구성 요소</strong><br />
                컴포넌트 클래스 : <code class="uid-codeblock">component-input</code>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>

              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<div class="component-input">
  <div class="input-field">
    <input type="text" id="temp_input_0001" placeholder="input text">
  </div>
</div>

<br><br>

<div class="component-input" data-props-clear="true">
  <div class="input-field">
    <input type="text" id="temp_input_0001" placeholder="data-props-clear 추가 시 clear 버튼 노출">
  </div>
</div>
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->

          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Input 상태</h2>
            <span class="uid-guide">
              <code class="uid-codeblock">disabled</code> 또는 <code class="uid-codeblock">readonly</code> 속성을 적용하면 <code class="uid-codeblock">component-input</code> 요소에 <code class="uid-codeblock">input-disabled</code> 및 <code class="uid-codeblock">input-readonly</code> 클래스가 자동으로 추가됩니다. <br />
              이 클래스들은 스크립트에서 해당 속성이 설정될 때 동적으로 적용됩니다.
            </span>
            <ul class="uid-list">
              <li>
                <strong>구성 요소</strong><br />
                컴포넌트 클래스 : <code class="uid-codeblock">component-input</code><br />
                상태 클래스 : <code class="uid-codeblock">input-disabled</code> <code class="uid-codeblock">input-readonly</code>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>

              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<div class="component-input">
  <div class="input-field">
    <input type="text" id="temp_input_valid_0001" placeholder="비활성" disabled>
  </div>
</div>

<br><br>

<div class="component-input">
  <div class="input-field">
    <input type="text" id="temp_input_invalid_0001" placeholder="읽기전용" readonly>
  </div>
</div>
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->

          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Input + button</h2>
            <span class="uid-guide">
              입력 영역과 우측 버튼 영역으로 구성됩니다.<br />
              우측 버튼은 공통적으로 <code class="uid-codeblock">input-field-btn</code> 클래스를 사용해야 하며, 해당 클래스는 모든 버튼에 일관되게 적용됩니다.
            </span>
            <ul class="uid-list">
              <li>
                <strong>구성 요소</strong><br />
                컴포넌트 클래스 : <code class="uid-codeblock">.component-input</code><br />
                공통 클래스 : <code class="uid-codeblock">.input-field-btn</code>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>

              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<div class="component-input">
  <div class="input-field">
    <input type="text" id="temp_input_btn_0001" placeholder="버튼">
    <button type="button" class="input-field-btn search">
      <span class="hide-txt">검색</span>
      <i class="ico-search ico-normal" aria-hidden="true"></i>
    </button>
    <button type="button" class="input-field-btn calendar">
      <span class="hide-txt">캘린더</span>
      <i class="ico-calendar ico-normal" aria-hidden="true"></i>
    </button>
    <button type="button" class="input-field-btn clear">
      <span class="hide-txt">내용 지우기</span>
      <i class="ico-clear ico-normal" aria-hidden="true"></i>
    </button>
    <button type="button" class="input-field-btn password-state">
      <span class="hide-txt hide">비밀번호 숨기기</span>
      <span class="hide-txt show">비밀번호 표시</span>
      <i class="ico-password-state ico-normal" aria-hidden="true"></i>
    </button>
  </div>
</div>
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->

          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Input file</h2>
            <span class="uid-guide">
              <code class="uid-codeblock">type="file"</code> 속성을 사용합니다.<br />
              버튼 요소는 반드시 <code class="uid-codeblock">input-file-btn</code> 클래스를 적용해야 합니다.
            </span>
            <ul class="uid-list">
              <li>
                <strong>구성 요소</strong><br />
                컴포넌트 클래스 : <code class="uid-codeblock">component-input</code> <br />
                공통 클래스 : <code class="uid-codeblock">input-file-btn</code>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>

              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<div class="component-input">
  <label class="input-file-field">
    <input type="file" aria-label="파일 첨부">
    <span class="input-file-txt">선택된 파일 없음</span>
    <span class="input-file-btn">찾아보기</span>
  </label>
</div>
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->

          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Input + Icon</h2>
            <span class="uid-guide">
              입력 영역과 우측 아이콘 영역으로 구성됩니다.<br />
              우측 아이콘은 공통적으로 <code class="uid-codeblock">input-field-ico</code> 클래스를 사용해야 하며, 해당 클래스는 모든 아이콘에 일관되게 적용됩니다.
            </span>
            <ul class="uid-list">
              <li>
                <strong>구성 요소</strong><br />
                컴포넌트 클래스 : <code class="uid-codeblock">component-input</code><br />
                공통 클래스 : <code class="uid-codeblock">input-field-ico</code>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>

              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<div class="component-input">
  <div class="input-field">
    <i class="input-field-ico login-id" aria-hidden="true"></i>
    <i class="input-field-ico login-pw" aria-hidden="true"></i>
    <input type="text" id="temp_input_ico_id_0001" placeholder="아이콘">
    <i class="input-field-ico spinner" aria-hidden="true"></i>
  </div>
</div>
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->
          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Input + Info Text</h2>
            <span class="uid-guide">
              입력 필드 아래에는 안내 텍스트를 표시하는 info 영역으로 구성됩니다.<br />
              <code class="uid-codeblock">input-info</code> 클래스를 적용해야 합니다.
            </span>
            <ul class="uid-list">
              <li>
                <strong>구성 요소</strong><br />
                컴포넌트 클래스 : <code class="uid-codeblock">component-input</code> <br />
                필수 클래스 : <code class="uid-codeblock">input-info</code>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>

              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<div class="component-input">
  <div class="input-field">
    <input type="text" id="temp_input_0001" placeholder="input text">
  </div>
  <div class="input-info">유틸리티 Info 영역</div>
</div>
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->

          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Input + Text</h2>
            <span class="uid-guide">
              입력 필드의 좌측 또는 우측에 텍스트가 필요할 경우 사용합니다.<br />
              <code class="uid-codeblock">input-field-txt</code> 클래스를 적용해야 합니다.
            </span>
            <ul class="uid-list">
              <li>
                <strong>구성 요소</strong><br />
                기본 클래스 <code class="uid-codeblock">component-input</code><br />
                공통 클래스 <code class="uid-codeblock">input-field-txt</code>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>

              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<div class="component-input">
  <div class="input-field">
    <span class="input-field-txt">$</span>
    <input type="text" id="temp_input_txt_0001" placeholder="0.00">
    <span class="input-field-txt">USD</span>
  </div>
</div>
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->

          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Input 유효성 검사</h2>
            <span class="uid-guide">
              유효성 검사는 <code class="uid-codeblock">input-valid</code> <code class="uid-codeblock">input-invalid</code> <code class="uid-codeblock">input-reauired</code> 클래스를 통해 상태를 표시합니다. <br />
              클래스는 각각 유효한 입력(성공), 잘못된 입력(오류), 필수 입력 상태를 나타냅니다.
            </span>
            <ul class="uid-list">
              <li>
                <strong>구성 요소</strong><br />
                기본 클래스 <code class="uid-codeblock">component-input</code><br />
                유효성 검사 클래스 :
                <code class="uid-codeblock">input-valid</code>
                <code class="uid-codeblock">input-invalid</code>
                <code class="uid-codeblock">input-required</code>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>

              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<div class="component-input input-valid">
  <div class="input-field">
    <input type="text" id="temp_input_valid_0001" placeholder="성공">
  </div>
  <div class="input-info">성공 입니다.</div>
</div>

<br><br>

<div class="component-input input-invalid">
  <div class="input-field">
    <input type="text" id="temp_input_invalid_0001" placeholder="오류">
  </div>
  <div class="input-info">오류 입니다.</div>
</div>

<Br><br>
<div class="component-input input-required">
  <div class="input-field">
    <input type="text" id="temp_input_required_0001" placeholder="필수입력">
  </div>
  <div class="input-info">필수입력 입니다.</div>
</div>
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->

          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Textarea</h2>
            <span class="uid-guide">
              기본 Textarea 컴포넌트입니다.<br />
              Textarea 컴포넌트는 반드시 <code class="uid-codeblock">component-input</code> 만 사용해야 합니다.
            </span>
            <ul class="uid-list">
              <li>
                <strong>구성 요소</strong><br />
                컴포넌트 클래스 : <code class="uid-codeblock">component-input</code>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>

              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<div class="component-input" data-props-count="300" data-props-count-limit="300" data-props-clear="true">
  <div class="input-textarea-field">
    &lt;textarea id="temp_textarea_0001" type="textarea" class="textarea" placeholder="텍스트를 입력해주세요."&gt;&lt;/textarea&gt;
    <span class="textarea-count" style="opacity: 1">(<em class="textarea-count-num">0</em>/<em class="textarea-count-total">300</em>)</span>
  </div>
</div>

                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->
        </section>
      </main>

      @@include('pathGuideInclude/_component_footer.html')
    </div>
    <script src="pathGuideScripts/component_guide.js"></script>
    <script src="pathGuideScripts/managers/color_manager.js"></script>
    <script></script>
  </body>
</html>
