<!doctype html>
<html lang="ko">
  <head>
    @@include('pathGuideInclude/_component_head.html', {"title": ""})
  </head>
  <body>
    <div class="uid-container">
      @@include('pathGuideInclude/_component_header.html') @@include('pathGuideInclude/_component_navigation.html')

      <main class="uid-main code-guide">
        <h1 class="uid-title01">Modal</h1>
        <p class="uid-desc">가이드 모음</p>

        <section class="uid-component">
          <h2 class="uid-title02">기본 가이드</h2>
          <ul class="uid-list">
            <li> 설계 단계의 특별한 UX 요청이나 개발 환경에 따른 제약으로 개발 요청 사항이 없다면 <strong>테스트 완료된 코드</strong>를 <strong>복사 붙여 넣기</strong>를 <strong>기본</strong>으로 합니다. </li>
            <li> 모달의 딤 요소는 <code class="uid-codeblock">.modal-dimm</code>이며, 추가로 다른 딤 요소를 생성할 필요가 없습니다. </li>
          </ul>
        </section>

        <!-- <section class="uid-component">
          <h2 class="uid-title02">협의 할 점</h2>
          <ul class="uid-list">
            <li>가이드를 작성 합니다.</li>
          </ul>
        </section> -->

        <!-- <section class="uid-component">
          <h2 class="uid-title02">접근성 가이드</h2>
          <ul class="uid-list">
            <li>가이드를 작성 합니다.</li>
          </ul>
        </section> -->

        <section class="uid-component">
          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Basic Modal</h2>
            <span class="uid-guide"> </span>
            <ul class="uid-list">
              <li>
                <strong>구성 요소</strong>
                <ul>
                  <li>컴포넌트 클래스: <code class="uid-codeblock">component-modal</code></li>
                </ul>
              </li>
              <!-- <li>
                <strong>props :</strong>
                <ul>
                  <li><code class="uid-codeblock">data-props-dimm-click="false"</code>: 딤 영역을 클릭했을 때 닫히는 기능을 제거합니다.</li>
                </ul>
              </li> -->
            </ul>
            <div class="code-wrap">
              <div class="custom_preview">
                <div class="modal-btn-wrap basic">
                  <button class="btn type-primary btn-modal01" data-testid="btn-modal01">Modal</button>
                </div>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<!-- S: 모달 트리거 버튼 -->
<button class="modal-btn01">Modal</button>
<!-- E: 모달 트리거 버튼 -->

<!-- S: 모달 컨테이너 -->
<div class="laywer-wrap">
  <div class="component-modal modal01" data-props-dimm-click="true">
    <div class="modal-dimm"></div>
    <div class="modal-frame">
      <div class="modal-container">
        <div class="modal-header">
          <h3 class="modal-tit">Modal Example</h3>
        </div>
        <div class="modal-content">
          Modal Basic(normal).
          <p class="modal-info">this is a modal window.</p>
          <a href="#">link element</a>
          <button class="btn type-primary btn-modal011">double modal</button>
          <label for="input-id">input element</label><input id="input-id" type="text" />
        </div>
        <button class="modal-close btn"></button>
      </div>
    </div>
  </div>
</div>
<!-- E: 모달 컨테이너 -->

<!-- S: 하단 스크립트 -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const modalBtn01 = document.querySelector(".btn-modal01");
    modalBtn01.addEventListener("click", () => {
      document.querySelector(".modal01").ui.open();
    });
  });
</script>
<!-- E: 하단 스크립트 -->
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"> </textarea>
              </div>
              <div class="code-table">
                <table class="component-table">
                  <caption>표제목 : 제목1, 제목2, 제목3, 제목4</caption>
                  <col style="width: 18%" />
                  <col style="width: auto" />
                  <col style="width: 20%" />
                  <col style="width: 14%" />
                  <col />
                  <thead>
                    <tr>
                      <th style="text-align: left">Name</th>
                      <th style="text-align: left">Description</th>
                      <th>Type</th>
                      <th>Default</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="bg-gray">
                      <td colspan="4">
                        <button class="btn-toggle">
                          <span>state</span>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>state</td>
                      <td style="text-align: left">
                        <div><span>열림, 닫힘 상태</div>
                      </td>
                      <td>
                        <div>
                          <span class="arg-code">string</span>
                        </div>
                      </td>
                      <td>
                        <div><span class="arg-code">close</span></div>
                      </td>
                    </tr>
                    <tr class="bg-gray">
                      <td colspan="4">
                        <button class="btn-toggle">
                          <span>props</span>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>direction</td>
                      <td style="text-align: left">
                        <div>
                          <span>PC/Mobile 열기 타입</span>
                        </div>
                      </td>
                      <td>
                        <div>
                          <span class="arg-code">string</span>
                        </div>
                      </td>
                      <td>
                        <div><span class="arg-code">center/botom</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>footerSticky.leaveback</td>
                      <td style="text-align: left">
                        <div>
                          <span>푸터에 빠져나올때 실행</span>
                        </div>
                      </td>
                      <td>
                        <div>
                          <span class="arg-code">function</span>
                        </div>
                      </td>
                      <td>
                        <div><span class="arg-code">null</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>afterClose</td>
                      <td style="text-align: left">
                        <div>
                          <span>닫고 난 후 콜백</span>
                        </div>
                      </td>
                      <td>
                        <div>
                          <span class="arg-code">function</span>
                        </div>
                      </td>
                      <td>
                        <div><span class="arg-code">null</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>afterOpen</td>
                      <td style="text-align: left">
                        <div>
                          <span>열고 난 후 콜백</span>
                        </div>
                      </td>
                      <td>
                        <div>
                          <span class="arg-code">function</span>
                        </div>
                      </td>
                      <td>
                        <div><span class="arg-code">null</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>beforeClose</td>
                      <td style="text-align: left">
                        <div><span>닫기 전 콜백</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">function</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">null</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>footerSticky</td>
                      <td style="text-align: left">
                        <div><span>푸터 전에 붙는 기능</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">boolean, function</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">false</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>scrollLock</td>
                      <td style="text-align: left">
                        <div><span>body 스크롤 잠금, 해제 기능</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">boolean</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">true</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>onResize</td>
                      <td style="text-align: left">
                        <div><span>window resize 이벤트 발생후 발생 ( debounce 속성 )</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">function</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">null</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>beforeOpen</td>
                      <td style="text-align: left">
                        <div><span>열기 전 콜백</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">function</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">null</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>dimm</td>
                      <td style="text-align: left">
                        <div><span>dimm 여부</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">boolean</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">true</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>onInit</td>
                      <td style="text-align: left">
                        <div><span>component init 후 발생</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">function</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">null</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>dimmClick</td>
                      <td style="text-align: left">
                        <div><span>dimm 클릭시 닫힘 속성</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">boolean</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">true</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>esc</td>
                      <td style="text-align: left">
                        <div><span>Key ESC 누름 닫힘 기능</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">boolean</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">trune</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>footerSticky.enter</td>
                      <td style="text-align: left">
                        <div><span>푸터에 진입후 실행</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">function</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">null</span></div>
                      </td>
                    </tr>
                    <tr class="bg-gray">
                      <td colspan="4">
                        <button class="btn-toggle">
                          <span>method</span>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>close</td>
                      <td style="text-align: left">
                        <div><span>닫기</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">null</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">null</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>open</td>
                      <td style="text-align: left">
                        <div><span>열기</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">null</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">null</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>update</td>
                      <td style="text-align: left">
                        <div><span>업데이트</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">null</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">null</span></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->

          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Full Modal</h2>
            <span class="uid-guide"> </span>
            <ul class="uid-list">
              <li>
                <strong>구성 요소</strong>
                <ul>
                  <li>컴포넌트 클래스: <code class="uid-codeblock">component-modal</code></li>
                  <li>필수 클래스 : <code class="uid-codeblock">modal-full</code></li>
                </ul>
              </li>
              <!-- <li>
                <strong>props :</strong>
                <ul>
                  <li><code class="uid-codeblock">data-props-dimm-click="true"</code>: 딤 영역을 클릭하면 닫히는 기능</li>
                </ul>
              </li> -->
            </ul>
            <div class="code-wrap">
              <div class="custom_preview">
                <div class="modal-btn-wrap basic">
                  <button class="btn type-primary btn-modal02" data-testid="btn-modal02">Full Modal</button>
                </div>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<!--S: 모달 트리거 버튼 -->
<button class="modal-btn02">Full Modal</button>
<!--E: 모달 트리거 버튼 -->

<!--S: 모달 컨테이너 -->
<div class="layer-wrap">
  <div class="component-modal modal-full">
    <div class="modal-dimm"></div>
    <div class="modal-frame">
      <div class="modal-container">
        <!-- <div class="modal-header">
          <h3 class="modal-tit">Modal Example</h3>
        </div> -->
        <div class="modal-content">
          Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal).
          Basic(normal). Modal Basic(normal). <p class="modal-info">this is a modal window.</p>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-close"> 취소 </button>
          <button type="button" class="btn">확인</button>
        </div>
        <button class="modal-close btn"></button>
      </div>
    </div>
  </div>
</div>
<!--E: 모달 컨테이너 -->

<!--S: 하단 스크립트 -->
<script>
document.addEventListener("DOMContentLoaded", () => {
  const modalBtn02 = document.querySelector(".btn-modal02");
    modalBtn02.addEventListener("click", () => {
    document.querySelector(".modal02").ui.open();
  });
});
</script>
<!--E: 하단 스크립트 -->
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"> </textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->

          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Bottom Modal</h2>
            <span class="uid-guide"> </span>
            <ul class="uid-list">
              <li>
                <strong>구성 요소</strong>
                <ul>
                  <li>컴포넌트 클래스: <code class="uid-codeblock">component-modal</code></li>
                  <li>필수 클래스 : <code class="uid-codeblock">modal-bottom</code></li>
                </ul>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="custom_preview">
                <div class="modal-btn-wrap basic">
                  <button class="btn type-primary btn-modal03" data-testid="btn-modal03">Bottom Modal</button>
                </div>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<!--S: 모달 트리거 버튼 -->
<button class="modal-btn03">Bottom Modal</button>
<!--E: 모달 트리거 버튼 -->

<!--S: 모달 컨테이너 -->
<div class="layer-wrap">
  <div class="component-modal modal-bottom modal03">
    <div class="modal-dimm"></div>
    <div class="modal-frame">
      <div class="modal-container">
        <button type="button" class="modal-slide"><span class="slide-bar"></span></button>
        <div class="modal-content">
          Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal).
          Basic(normal). Modal Basic(normal).
          <p class="modal-info">this is a modal window.</p>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-close"> 취소 </button>
          <button type="button" class="btn">확인</button>
        </div>
        <button class="modal-close btn"></button>
      </div>
    </div>
  </div>
</div>
<!--E: 모달 컨테이너 -->

<!--S: 하단 스크립트 -->
<script>
document.addEventListener("DOMContentLoaded", () => {
  const modalBtn03 = document.querySelector(".btn-modal03");
  modalBtn03.addEventListener("click", () => {
    document.querySelector(".modal03").ui.open();
  });
});
</script>
<!--E: 하단 스크립트 -->
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"> </textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->

          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Bottom Modal Input</h2>
            <span class="uid-guide"> </span>
            <ul class="uid-list">
              <li>
                <strong>구성 요소</strong>
                <ul>
                  <li>컴포넌트 클래스: <code class="uid-codeblock">component-modal</code></li>
                  <li>필수 클래스 : <code class="uid-codeblock">modal-bottom</code></li>
                </ul>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="custom_preview">
                <div class="modal-btn-wrap basic">
                  <button class="btn type-primary btn-modal04" data-testid="btn-modal04">Bottom Modal Input</button>
                </div>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<!--S: 모달 트리거 버튼 -->
<button class="modal-btn03">Bottom Modal Input</button>
<!--E: 모달 트리거 버튼 -->

<!--S: 모달 컨테이너 -->
<div class="component-modal modal-bottom modal04">
  <div class="modal-dimm"></div>
  <div class="modal-frame">
    <div class="modal-container">
      <button type="button" class="modal-slide"><span class="slide-bar"></span></button>
      <div class="modal-content">
        <div> <label for="input-id"></label><input id="input-id" type="text" /> </div>
        <p class="modal-info">this is a modal window.</p>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-close"> 취소 </button>
        <button type="button" class="btn">확인</button>
      </div>
      <button class="modal-close btn"></button>
    </div>
  </div>
</div>
<!--E: 모달 컨테이너 -->

<!--S: 하단 스크립트 -->
<script>
document.addEventListener("DOMContentLoaded", () => {
  const modalBtn03 = document.querySelector(".btn-modal03");
  modalBtn03.addEventListener("click", () => {
    document.querySelector(".modal03").ui.open();
  });
});
</script>
<!--E: 하단 스크립트 -->
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"> </textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->
        </section>
      </main>
      <div class="layer-wrap">
        <!-- S: modal basic 01 -->
        <div class="component-modal modal01" data-props-dimm-click="true">
          <div class="modal-dimm"></div>
          <div class="modal-frame">
            <div class="modal-container">
              <div class="modal-header">
                <h3 class="modal-tit">Modal Example</h3>
              </div>
              <div class="modal-content">
                Modal Basic(normal). <p class="modal-info">this is a modal window.</p>
                <a href="#">link element</a>
                <button class="btn type-primary btn-modal011">double modal</button>
                <label for="input-id">input element</label><input id="input-id" type="text" />
              </div>
              <button class="modal-close btn"></button>
            </div>
          </div>
        </div>
        <!-- E: modal basic 01 -->

        <!-- S: modal modal-full -->
        <div class="component-modal modal-full modal02">
          <div class="modal-dimm"></div>
          <div class="modal-frame">
            <div class="modal-container">
              <!-- <div class="modal-header">
                <h3 class="modal-tit">Modal Example</h3>
              </div> -->
              <div class="modal-content">
                Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal).
                Basic(normal). Modal Basic(normal). <p class="modal-info">this is a modal window.</p>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-close"> 취소 </button>
                <button type="button" class="btn">확인</button>
              </div>
              <button class="modal-close btn"></button>
            </div>
          </div>
        </div>
        <!-- E: modal modal-full -->

        <!-- S: modal modal-bottom -->
        <div class="component-modal modal-bottom modal03">
          <div class="modal-dimm"></div>
          <div class="modal-frame">
            <div class="modal-container">
              <button type="button" class="modal-slide"><span class="slide-bar"></span></button>
              <div class="modal-content">
                Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal). Basic(normal). Modal Basic(normal).
                Basic(normal). Modal Basic(normal). <p class="modal-info">this is a modal window.</p>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-close"> 취소 </button>
                <button type="button" class="btn">확인</button>
              </div>
              <button class="modal-close btn"></button>
            </div>
          </div>
        </div>
        <!-- E: modal modal-bottom -->

        <!-- S: modal modal-bottom -->
        <div class="component-modal modal-bottom modal04">
          <div class="modal-dimm"></div>
          <div class="modal-frame">
            <div class="modal-container">
              <button type="button" class="modal-slide"><span class="slide-bar"></span></button>
              <div class="modal-content">
                <div> <label for="input-id"></label><input id="input-id" type="text" /> </div>
                <p class="modal-info">this is a modal window.</p>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-close"> 취소 </button>
                <button type="button" class="btn">확인</button>
              </div>
              <button class="modal-close btn"></button>
            </div>
          </div>
        </div>
        <!-- E: modal modal-bottom -->
      </div>
      @@include('pathGuideInclude/_component_footer.html')
    </div>
    <script src="pathGuideScripts/component_guide.js"></script>
    <script src="pathGuideScripts/managers/color_manager.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const modalBtn01 = document.querySelector(".btn-modal01");
        modalBtn01.addEventListener("click", () => {
          document.querySelector(".modal01").ui.open();
        });

        const modalBtn02 = document.querySelector(".btn-modal02");
        modalBtn02.addEventListener("click", () => {
          document.querySelector(".modal02").ui.open();
        });

        const modalBtn03 = document.querySelector(".btn-modal03");
        modalBtn03.addEventListener("click", () => {
          document.querySelector(".modal03").ui.open();
        });

        const modalBtn04 = document.querySelector(".btn-modal04");
        modalBtn04.addEventListener("click", () => {
          document.querySelector(".modal04").ui.open();
        });
      });
    </script>
  </body>
</html>
