<!doctype html>
<html lang="ko">
  <head>
    @@include('pathGuideInclude/_component_head.html', {"title": "project components guide"})
  </head>
  <body>
    <div class="uid-container">
      @@include('pathGuideInclude/_component_header.html') @@include('pathGuideInclude/_component_navigation.html')

      <main class="uid-main code-guide">
        <h1 class="uid-title01">Pagination</h1>
        <p class="uid-desc">
          Pagination은 콘텐츠 또는 데이터를 여러 페이지로 분할하고 다음 또는 이전 페이지로 이동하는 컨트롤입니다. <br />
          제공되는 정보의 양과 사용자의 현재 시점을 알려줌으로써 사용자가 혼란 없이 정보를 원활하게 이용할 수 있도록 구성합니다.</p
        >
        <section class="uid-component">
          <h2 class="uid-title02">기본 가이드</h2>
          <ul class="uid-list">
            <li><code class="uid-codeblock">nav</code>, <code class="uid-codeblock">a</code> 태그를 사용하여 구조를 만듭니다.</li>
          </ul>
        </section>

        <section class="uid-component">
          <h2 class="uid-title02">접근성 가이드</h2>
          <ul class="uid-list">
            <li>aria-label="페이지네이션"</li>
            <li>페이지 이동이 불필요한 경우 이동 <code class="uid-codeblock">a</code>태그를 없애거나, 비활성화 (tabindex="-1")합니다.</li>
            <li>현재 페이지에는 <code class="uid-codeblock">span</code> 태그로 변경, <code class="uid-codeblock">aria-current="page"</code> 를 추가합니다.</li>
            <li><code class="uid-codeblock">.hide-txt</code> 로 페이지 이동 기능을 기재해줍니다.</li>
          </ul>
        </section>

        <section class="uid-component">
          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Pagination</h2>
            <ul class="uid-list">
              <li>
                컴포넌트 클래스 :
                <code class="uid-codeblock">.component-pagination</code>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<nav class="component-pagination" aria-label="페이지네이션">
  <a href="#" class="pagination-item first"><span class="hide-txt">첫 페이지로 이동</span></a>
  <a href="#" class="pagination-item prev"><span class="hide-txt">이전 페이지로 이동</span></a>
  <span class="pagination-item" aria-current="page">1</span>
  <a href="#" class="pagination-item">2</a>
  <a href="#" class="pagination-item">3</a>
  <a href="#" class="pagination-item">4</a>
  <a href="#" class="pagination-item">5</a>
  <a href="#" class="pagination-item next"><span class="hide-txt">다음 페이지로 이동</span></a>
  <a href="#" class="pagination-item last"><span class="hide-txt">마지막 페이지로 이동</span></a>
</nav></textarea
                >
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->

          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Pagination Mini</h2>
            <ul class="uid-list">
              <li>
                컴포넌트 클래스 :
                <code class="uid-codeblock">.component-pagination-mini</code>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<nav class="component-pagination-mini" aria-label="페이지네이션">
  <a href="#" class="pagination-item prev"><span class="hide-txt">이전 페이지로 이동</span></a>
  <span class="pagination-item-group">
    <span class="pagination-item" aria-current="page">1</span>
    <span class="pagination-item" aria-hidden="true">/</span>
    <span class="pagination-item">100</span>
  </span>
  <a href="#" class="pagination-item next"><span class="hide-txt">다음 페이지로 이동</span></a>
</nav></textarea
                >
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->
        </section>
      </main>

      @@include('pathGuideInclude/_component_footer.html')
    </div>
    <script src="pathGuideScripts/component_guide.js"></script>
    <script src="pathGuideScripts/managers/color_manager.js"></script>
    <script></script>
  </body>
</html>
