<!doctype html>
<html lang="ko">
  <head>
    @@include('pathGuideInclude/_component_head.html')
  </head>
  <body>
    <div class="uid-container">
      @@include('pathGuideInclude/_component_navigation.html')

      <main class="uid-main code-guide">
        @@include('pathGuideInclude/_component_header.html')
        <h1 class="uid-title01">Sample</h1>
        <div class="uid-desc">
          <span class="desc-tit">바로가기: </span>
        </div>

        <section class="uid-component">
          <h2 class="uid-title02">1 Components 를 작성하는 요령</h2>
          <ul class="uid-list">
            <li> sample.html 복사 </li>
            <li> sample.html 파일을 복사하여 필요한 컴포넌트 파일명으로 변경하여 사용합니다. </li>
            <li> sample.html을 복사하여 필요한 컴포넌트를 생성하였으면 component_guide.json 파일로 들어가서 생성한 파일명을 추가 합니다. </li>
          </ul>
        </section>

        <section class="uid-component">
          <h2 class="uid-title02">2. 컴포넌트 파일</h2>
          <ul class="uid-list">
            <li>컴포넌트파일.html을 열어 컴포넌트를 작성합니다.</li>
            <li>작성하기에 앞서 uid-main 클래스 옆에 code-guide 클래스가 추가 되었는지 확인합니다. </li>
            <li>
              <div>컴포넌트의 내용은 code-wrap 클래스 요소 중 아래 영역에 작성 하면 됩니다.</div>
              <div> &#60;textarea class="code_content html ui_code_content" data-code="html">&#60;/textarea> </div>
            </li>
            <li>
              <div>아래 주석처리 된 영역을 복사하여 사용 합니다.</div>
              <div>&#60;!-- 컴포넌트 작성 단위 --> </div>
              <div>&#60;!-- //컴포넌트 작성 단위 --></div>
            </li>
            <li>
              <div>iframe 영역에 높이를 줘야할경우 </div>
              <div>&#60;textarea class="code_content html ui_code_content" data-code="html">&#60;/textarea> 에 data-height="200"을 적용합니다.</div>
            </li>
          </ul>
        </section>

        <!-- 설명 글이 필요 할 경우 아래 section 영역 사용하기 -->
        <section class="uid-component">
          <h2 class="uid-title02">설명 글 템플릿 - 제목 영역</h2>
          <ul class="uid-list">
            <li> 텍스트 영역 <strong>strong 태그 사용할 수 있습니다.</strong></li>
            <li>
              <a href="http://www.naver.com"> 링크스타일은 아이콘이 자동으로 붙습니다. </a>
            </li>
            <li> &#60;a href="">&#60;/a> 태그를 설명에 보이게 하려면 이렇게 작성하면 됩니다. </li>
          </ul>
        </section>
        <!-- //설명 글이 필요 할 경우 아래 section 영역 사용하기 -->

        @@include('pathGuideInclude/_component_common_guide.html')

        <!-- 검수 템플릿 : 브라우저 -->
        <section class="uid-component">
          <h2 class="uid-title02">테스트된 브라우저(최신 버전 기준)</h2>
          <div class="uid-table">
            <table class="table-fixed">
              @@include('pathGuideInclude/_component_browsers_check01.html')
              <tbody>
                <tr>
                  <td>&check;</td>
                  <td>&check;</td>
                  <td>&check;</td>
                  <td>&check;</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <!-- //검수 템플릿 : 브라우저 -->

        <!-- 검수 템플릿 : 스크린리더 -->
        <section class="uid-component">
          <h2 class="uid-title02">테스트된 스크린리더</h2>
          <div class="uid-table">
            <table class="table-fixed">
              @@include('pathGuideInclude/_component_screen_reader_check01.html')
              <tbody>
                <tr>
                  <td>none</td>
                  <td>supported</td>
                  <td>supported</td>
                  <td>partial</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <!-- //검수 템플릿 : 스크린리더 -->

        <section class="uid-component">
          <!-- 컴포넌트 작성 단위 -->
          <article>
            <h2 class="uid-title02" id="uid-title-id01">Sample</h2>
            <ul class="uid-list">
              <li>
                공통 클래스 목록 :
                <div>
                  <code class="uid-codeblock">.btn</code>
                  : 공통 클래스
                </div>
                <div>
                  <code class="uid-codeblock">.btn-txt</code>
                  : 버튼 내 텍스트 스타일
                </div>
                <div>
                  <code class="uid-codeblock">.hide-txt</code>
                  : 텍스트 숨김 처리 스타일
                </div>
              </li>
              <li>
                옵션 클래스(크기) 목록 :
                <code class="uid-codeblock">.btn-full</code>
              </li>
              <li>
                옵션 클래스(스타일) 목록 :
                <code class="uid-codeblock">.btn-primary</code>
              </li>
              <li>
                옵션 클래스(상태) 목록 :
                <code class="uid-codeblock">.on</code>
                <code class="uid-codeblock">.disabled</code>
              </li>
              <li>
                옵션 클래스(정렬) 목록 :
                <code class="uid-codeblock">.align-left</code>
                <code class="uid-codeblock">.align-right</code>
                <code class="uid-codeblock">.col-2</code>
                <code class="uid-codeblock">.col-3</code>
                <code class="uid-codeblock">.fixed</code>
              </li>
              <li>
                구성 요소 :
                <code class="uid-codeblock">텍스트</code>
                <code class="uid-codeblock">아이콘(컴포넌트)</code>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>

              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<!-- 여기에 코드를 넣어주세요 -->
<div>샘플 코드</div>
  <ul>
    <li>리스트1</li>
    <li>리스트2</li>
    <li>리스트3</li>
  </ul>
<div>샘플 코드</div>
<!-- 왼쪽에 공백 없이 시작해주세요 -->
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <!-- //컴포넌트 작성 단위 -->
        </section>
      </main>

      @@include('pathGuideInclude/_component_footer.html')
    </div>
    <script src="pathGuideScripts/component_guide.js"></script>
    <script src="pathGuideScripts/managers/color_manager.js"></script>
    <script></script>
  </body>
</html>
