<!doctype html>
<html lang="ko">
  <head>
    @@include('pathGuideInclude/_component_head.html', {"title": "project components guide"})
  </head>
  <body>
    <div class="uid-container">
      @@include('pathGuideInclude/_component_header.html') @@include('pathGuideInclude/_component_navigation.html')

      <main class="uid-main code-guide">
        <h1 class="uid-title01">Swiper</h1>
        <p class="uid-desc">가이드 모음</p>

        <!-- 목차 -->
        <!-- <section class="uid-component">
          <h2 class="uid-title02">목차</h2>
          <nav class="uid-nav">
            <ul class="uid-list">
              <li><a href="#swiper-basic">Swiper Basic</a></li>
              <li><a href="#swiper-navigation">Swiper Navigation</a></li>
              <li><a href="#swiper-pagination">Swiper Pagination</a></li>
            </ul>
          </nav>
        </section> -->

        <section class="uid-component">
          <h2 class="uid-title02">기본 가이드</h2>
          <ul class="uid-list">
            <li> 설계 단계의 특별한 UX 요청이나 개발 환경에 따른 제약으로 개발 요청 사항이 없다면 <strong>테스트 완료된 코드</strong>를 <strong>복사 붙여 넣기</strong>를 <strong>기본</strong>으로 합니다. </li>
          </ul>
        </section>

        <!-- <section class="uid-component">
          <h2 class="uid-title02">테스트된 브라우저(최신 버전 기준)</h2>
          <div class="uid-table">
            <table class="table-fixed">
              @@include('pathGuideInclude/_component_browsers_check01.html')
              <tbody>
                <tr>
                  <td>&check;</td>
                  <td>&check;</td>
                  <td>&check;</td>
                  <td>&check;</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <section class="uid-component">
          <h2 class="uid-title02">테스트된 스크린 리더</h2>
          <div class="uid-table">
            <table class="table-fixed">
              @@include('pathGuideInclude/_component_screen_reader_check01.html')
              <tbody>
                <tr>
                  <td>none</td>
                  <td>supported</td>
                  <td>supported</td>
                  <td>partial</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section> -->

        <!-- <section class="uid-component">
          <h2 class="uid-title02">협의 할 점</h2>
          <ul class="uid-list">
          </ul>
        </section> -->

        <section class="uid-component">
          <h2 class="uid-title02">자주 쓰이는 옵션</h2>
          <ul class="uid-list">
            <li><code class="uid-codeblock">data-desktop-only="true"</code>: PC에서 swiper, MO에서 해제 </li>
            <li><code class="uid-codeblock">data-mobile-only="true"</code>: MO에서 swiper, PC에서 해제</li>
            <li><code class="uid-codeblock">slidesPerView</code>: 한 슬라이드에 보여줄 갯수 (default: 1) </li>
            <li><code class="uid-codeblock">spaceBetween</code>: 슬라이드 사이 여백 (default: 0)</li>
            <li><code class="uid-codeblock">loop</code>: 슬라이드 반복 여부 (default: false)</li>
          </ul>
        </section>

        <!-- <section class="uid-component">
          <h2 class="uid-title02">접근성 가이드</h2>
          <ul class="uid-list">
            <li>가이드를 작성 합니다.</li>
          </ul>
        </section> -->

        <section class="uid-component">
          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <!-- <article id="swiper-basic">
            <h2 class="uid-title02" id="">Swiper Basic</h2>
            <ul class="uid-list">
              <li>
                컴포넌트 클래스 :
                <code class="uid-codeblock">component-swiper</code>
              </li>
              <li>
                컴포넌트 자식 클래스 :
                <code class="uid-codeblock">.swiper-container</code>, <code class="uid-codeblock">.swiper-wrapper</code>, <code class="uid-codeblock">.swiper-slide</code>
              </li>
              <li>
                옵션 :<br />
                <code class="uid-codeblock">data-props-initial-slide</code> - 시작 슬라이드 설정,<br />
                <code class="uid-codeblock">data-props-slides-per-view</code>- 보여지는 슬라이드 갯수,<br />
                <code class="uid-codeblock">data-props-space-between</code>- 슬라이드 사이 여백
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>

              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">

<div
  class="component-swiper"
  data-props-initial-slide="1"
  data-props-slides-per-view="3"
  data-props-space-between="20"
>
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="height: 150px; background-color: lightblue;">
      <button><img src="" alt=""/>slide 1</button>
    </div>
    <div class="swiper-slide" style="height: 150px; background-color: lightcoral;">
      <button><img src="" alt="" />slide 2</button>
    </div>
    <div class="swiper-slide" style="height: 150px; background-color: lightgoldenrodyellow;">
      <button><img src="" alt="" />slide 3</button>
    </div>
    <div class="swiper-slide" style="height: 150px; background-color: lightgreen;">
      <button><img src="" alt="" />slide 4</button>
    </div>
    <div class="swiper-slide" style="height: 150px; background-color: lightgrey;">
      <button><img src="" alt="" />slide 5</button>
    </div>
  </div>
</div>
</div>

                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article> -->
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->

          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article id="swiper-navigation">
            <h2 class="uid-title02">Swiper Navigation</h2>
            <span class="uid-guide">
              <code class="uid-codeblock">data-props-navigation="true"</code>를 설정하면, 별도의 추가 마크업 없이 자동으로 <code class="uid-codeblock">.swiper-controls</code> 내부에 네비게이션 요소가 생성됩니다.<br />
              또한, 원하는 경우 <code class="uid-codeblock">data-props-navigation-class</code>를 통해 커스텀 클래스를 지정하여 스타일을 적용할 수 있습니다.
            </span>
            <ul class="uid-list">
              <li>
                <strong>구성 요소</strong>
                <ul>
                  <li>컴포넌트 클래스: <code class="uid-codeblock">component-swiper</code></li>
                  <li>컨트롤 클래스: <code class="uid-codeblock">swiper-controls</code>, <code class="uid-codeblock">swiper-navigation</code></li>
                </ul>
              </li>
              <!-- <li>
                <strong>props:</strong>
                <ul>
                  <li><code class="uid-codeblock">data-props-navigation</code>: 네비게이션 활성화 (boolean)</li>
                  <li><code class="uid-codeblock">data-props-navigation-class</code>: 커스텀 클래스명 (string)</li>
                </ul>
              </li> -->
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>
              <!--  -->
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">

<div
  class="component-swiper"
  data-props-navigation="true"
  data-props-navigation-class="custom-navigation"
>
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="height: 150px; background-color: lightblue;">
      <button><img src="" alt=""/>slide 1</button>
    </div>
    <div class="swiper-slide" style="height: 150px; background-color: lightcoral;">
      <button><img src="" alt="" />slide 2</button>
    </div>
    <div class="swiper-slide" style="height: 150px; background-color: lightgoldenrodyellow;">
      <button><img src="" alt="" />slide 3</button>
    </div>
    <div class="swiper-slide" style="height: 150px; background-color: lightgreen;">
      <button><img src="" alt="" />slide 4</button>
    </div>
    <div class="swiper-slide" style="height: 150px; background-color: lightgrey;">
      <button><img src="" alt="" />slide 5</button>
    </div>
  </div>
</div>
</div>

                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>

              <div class="code-table">
                <table class="component-table">
                  <caption>표제목 : 제목1, 제목2, 제목3, 제목4</caption>
                  <col style="width: 18%" />
                  <col style="width: auto" />
                  <col style="width: 20%" />
                  <col style="width: 14%" />
                  <col />
                  <thead>
                    <tr>
                      <th style="text-align: left">Name</th>
                      <th style="text-align: left">Description</th>
                      <th>Type</th>
                      <th>Default</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="bg-gray">
                      <td colspan="4">
                        <button class="btn-toggle">
                          <span>props</span>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>pagination</td>
                      <td style="text-align: left">
                        <div>
                          <span>슬라이드 갯수 표시 버튼 생성 여부</span>
                        </div>
                      </td>
                      <td>
                        <div>
                          <span class="arg-code">boolean</span>
                        </div>
                      </td>
                      <td>
                        <div><span class="arg-code">false</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>slideChange</td>
                      <td style="text-align: left">
                        <div>
                          <span>슬라이드 변경후 콜백</span>
                        </div>
                      </td>
                      <td>
                        <div>
                          <span class="arg-code">function</span>
                        </div>
                      </td>
                      <td>
                        <div><span class="arg-code">null</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>paginationType</td>
                      <td style="text-align: left">
                        <div>
                          <span>슬라이드 갯수 표시 디자인 타입</span>
                        </div>
                      </td>
                      <td>
                        <div>
                          <span class="arg-code">string</span>
                        </div>
                      </td>
                      <td>
                        <div><span class="arg-code">bullets</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>breakpoint</td>
                      <td style="text-align: left">
                        <div>
                          <span>반응형 요서 업데이트 { “사이즈” : 옵션 오브젝트 재 설정 }</span>
                        </div>
                      </td>
                      <td>
                        <div>
                          <span class="arg-code">object</span>
                        </div>
                      </td>
                      <td>
                        <div><span class="arg-code">null</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>navigation</td>
                      <td style="text-align: left">
                        <div><span>이전, 다음 버튼 생성 여부</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">boolean</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">false</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>initialSlide</td>
                      <td style="text-align: left">
                        <div><span>초기 slide의 위치</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">number</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">0</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>slidesPerView</td>
                      <td style="text-align: left">
                        <div><span>슬라이드 보여질 갯수</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">number</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">1</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>speed</td>
                      <td style="text-align: left">
                        <div><span>slide 전환될 때의 시간</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">number</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">1000</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>nested</td>
                      <td style="text-align: left">
                        <div><span>스와이퍼 안에 스와이퍼일때 자식 스와이퍼에 적용</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">boolean</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">false</span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>spaceBetween</td>
                      <td style="text-align: left">
                        <div><span>슬라이드 사이 간격</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">number</span></div>
                      </td>
                      <td>
                        <div><span class="arg-code">0</span></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->

          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article id="swiper-pagination">
            <h2 class="uid-title02">Swiper Pagination</h2>
            <span class="uid-guide">
              <code class="uid-codeblock">data-props-pagination="true"</code>를 설정하면, 별도의 추가 마크업 없이 자동으로 <code class="uid-codeblock">.swiper-controls</code> 내부에 페이지네이션 요소가 생성됩니다.<br />
              원하는 경우 <code class="uid-codeblock">data-props-pagination-class</code>를 통해 커스텀 클래스를 지정하여 스타일을 적용할 수 있습니다.
            </span>
            <ul class="uid-list">
              <li>
                <strong>구성 요소</strong>
                <ul>
                  <li>컴포넌트 클래스: <code class="uid-codeblock">component-swiper</code></li>
                  <li>컨트롤 클래스: <code class="uid-codeblock">swiper-controls</code>, <code class="uid-codeblock">swiper-pagination</code></li>
                </ul>
              </li>
              <!-- <li>
                <strong>props:</strong>
                <ul>
                  <li><code class="uid-codeblock">data-props-pagination</code>: 페이지네이션 활성화 (boolean)</li>
                  <li><code class="uid-codeblock">data-props-pagination-class</code>: 커스텀 클래스명 (string)</li>
                  <li><code class="uid-codeblock">data-props-pagination-type</code>: 표시 형식 (bullets | fraction | progress)</li>
                </ul>
              </li> -->
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>
              <!--  -->
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">

<div
  class="component-swiper"
  data-props-pagination="true"
  data-props-pagination-class="custom-pagination"
  data-props-pagination-type="fraction"
>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="height: 150px; background-color: lightblue;">
        <button><img src="" alt="">slide 1</button>
      </div>
      <div class="swiper-slide" style="height: 150px; background-color: lightcoral;">
        <button><img src="" alt="">slide 2</button>
      </div>
      <div class="swiper-slide" style="height: 150px; background-color: lightgoldenrodyellow;">
        <button><img src="" alt="">slide 3</button>
      </div>
      <div class="swiper-slide" style="height: 150px; background-color: lightgreen;">
        <button><img src="" alt="">slide 4</button>
      </div>
      <div class="swiper-slide" style="height: 150px; background-color: lightgrey;">
        <button><img src="" alt="">slide 5</button>
      </div>
    </div>
  </div>
</div>

                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* Swiper custom styles */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript">
// 필요한 경우 추가 JavaScript 설정을 여기에 작성하세요.
                </textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->

          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article id="swiper-pagination">
            <h2 class="uid-title02">Swiper Breakpoints</h2>
            <ul class="uid-list">
              <li>
                <strong>구성 요소</strong>
                <ul>
                  <li>컴포넌트 클래스: <code class="uid-codeblock">component-swiper</code></li>
                </ul>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>
              <!--  -->
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<!--
  [사용 방법]
  - data-props-slides-per-view: 기본적으로 보여질 슬라이드 개수를 설정
  - data-props-space-between: 슬라이드 간 간격을 설정
  - data-props-breakpoints: 특정 화면 크기 이상에서 적용될 Swiper 옵션을 JSON 형태로 설정
    예) "1024": { "slidesPerView": "3", "spaceBetween": "20" }
-->
<div
  class="component-swiper"
  data-props-slides-per-view="1"
  data-props-space-between="12"
  data-props-breakpoints='{
    "1024":{
      "slidesPerView":"3",
      "spaceBetween":"20"
    }
  }'
>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="height: 150px; background-color: lightblue;">
        <button><img src="" alt="">slide 1</button>
      </div>
      <div class="swiper-slide" style="height: 150px; background-color: lightcoral;">
        <button><img src="" alt="">slide 2</button>
      </div>
      <div class="swiper-slide" style="height: 150px; background-color: lightgoldenrodyellow;">
        <button><img src="" alt="">slide 3</button>
      </div>
      <div class="swiper-slide" style="height: 150px; background-color: lightgreen;">
        <button><img src="" alt="">slide 4</button>
      </div>
      <div class="swiper-slide" style="height: 150px; background-color: lightgrey;">
        <button><img src="" alt="">slide 5</button>
      </div>
    </div>
  </div>
</div>

                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* Swiper custom styles */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript">
// 필요한 경우 추가 JavaScript 설정을 여기에 작성하세요.
                </textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->
        </section>
      </main>

      @@include('pathGuideInclude/_component_footer.html')
    </div>
    <script src="pathGuideScripts/component_guide.js"></script>
    <script src="pathGuideScripts/managers/color_manager.js"></script>
  </body>
</html>
