<!doctype html>
<html lang="ko">
  <head>
    @@include('pathGuideInclude/_component_head.html', {"title": "project components guide"})
  </head>
  <body>
    <div class="uid-container">
      @@include('pathGuideInclude/_component_header.html') @@include('pathGuideInclude/_component_navigation.html')

      <main class="uid-main code-guide">
        <h1 class="uid-title01">Table</h1>
        <p class="uid-desc"> Table은 데이터를 구조화된 형태로 보여주기 위해 사용되는 요소입니다. <br />사용자는 정보를 쉽게 이해하고 분석할 수 있습니다.</p>
        <section class="uid-component">
          <h2 class="uid-title02">기본 가이드</h2>
          <ul class="uid-list">
            <li>각 열에 대한 스타일은 <code class="uid-codeblock">&lt;col&gt;</code> 요소에 추가하며 너비가 고정일 경우는 px, 유동적일 경우는 %를 사용합니다. </li>
            <li
              >표의 헤더는 <code class="uid-codeblock">&lt;thead&gt;</code>, 본문은 <code class="uid-codeblock">&lt;tbody&gt;</code>로 구분하며 <code class="uid-codeblock">&lt;tr&gt;</code>,<code class="uid-codeblock">&lt;th&gt;</code>,
              <code class="uid-codeblock">&lt;td&gt;</code>
              태그로 표의 구조를 만듭니다.
            </li>
            <li>텍스트 정렬 - default : center / <code class="uid-codeblock">&lt;align-left&gt;</code> : 왼쪽 / <code class="uid-codeblock">&lt;align-right&gt;</code> : 오른쪽 </li>
          </ul>
        </section>

        <section class="uid-component">
          <h2 class="uid-title02">접근성 가이드</h2>
          <ul class="uid-list">
            <li><code class="uid-codeblock">&lt;caption&gt;</code> 에 표의 제목, 설명을 정의합니다.</li>
            <li> 머리글이 두 개 이상의 열에 걸쳐 있는 경우 해당 수의 <code class="uid-codeblock">&lt;col&gt;</code> 요소 대신 <code class="uid-codeblock">&lt;colgroup&gt;</code> 요소를 사용합니다. </li>
            <li><code class="uid-codeblock">&lt;th&gt;</code> 에 scope를 기재하여 헤더의 행과 열을 지정해야합니다.</li>
          </ul>
        </section>

        <section class="uid-component">
          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Table</h2>
            <ul class="uid-list">
              <li>
                컴포넌트 클래스 :
                <code class="uid-codeblock">.component-table</code>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<div class="component-table">
  <table>
    <caption>표제목 : 제목1, 제목2, 제목3, 제목4</caption>
    <col style="width: 25%;">
    <col style="width: 25%;">
    <col style="width: 25%;">
    <col>
    <thead>
        <tr>
            <th scope="col">날짜</th>
            <th scope="col">이벤트</th>
            <th scope="col">장소</th>
            <th scope="col">가격</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2월 12일</td>
            <td class="align-left">함께하는 왈츠	</td>
            <td>정당</td>
            <td class="align-right">1,3485원</td>
        </tr>
        <tr>
            <td>3월 12일</td>
            <td class="align-left">오벨리스크</td>
            <td>웨스트 윙</td>
            <td class="align-right">23,076원</td>
        </tr>
        <tr>
            <td>4월 12일</td>
            <td class="align-left">무엇</td>
            <td>정당</td>
            <td class="align-right">73,076원</td>
        </tr>
    </tbody>
  </table>
</div></textarea
                >
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>

          <article>
            <h2 class="uid-title02">Table 복합형</h2>
            <ul class="uid-list">
              <li>
                컴포넌트 클래스 :
                <code class="uid-codeblock">.component-table</code>
              </li>
              <li><code class="uid-codeblock">caption</code> 태그에 요약하여 기재한다.</li>
              <li> 행과 열을 병합할땐 <code class="uid-codeblock">rowspan</code>, <code class="uid-codeblock">colspan</code> 을 사용합니다. </li>
              <li> <code class="uid-codeblock">col</code>, <code class="uid-codeblock">row</code>, <code class="uid-codeblock">colgroup</code> 을 사용하여 그룹화해줍니다. </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<div class="component-table">
  <table>
    <caption>
      2024 주간 요율 요약
      <span>2024년 4월 15일부터 4월 20일까지의 주간 다양한 금융 도구에 대한 주간 요율</span>
    </caption>
    <col>
    <col style="width: 17%;">
    <col style="width: 17%;">
    <col style="width: 17%;">
    <col style="width: 17%;">
    <col style="width: 17%;">
    <thead>
        <tr>
            <th rowspan="2" scope="col">구분</th>
            <th colspan="3" scope="colgroup">2024</th>
            <th colspan="3" scope="colgroup">일주일 마무리</th>
        </tr>
        <tr>
            <th scope="col">4월 15일</th>
            <th scope="col">4월 16일</th>
            <th scope="col">4월 17일</th>
            <th scope="col">4월 19일</th>
            <th scope="col">4월 20일</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">연방 자금</th>
            <td>1.84</td>
            <td>1.85</td>
            <td>1.85</td>
            <td>1.85</td>
            <td>1.85</td>
        </tr>
        <tr>
            <th scope="row">비금융</th>
            <td>1.84</td>
            <td>1.85</td>
            <td>1.85</td>
            <td>1.85</td>
            <td>1.85</td>
        </tr>
        <tr>
            <th scope="row">금융</th>
            <td>1.84</td>
            <td>1.85</td>
            <td>1.85</td>
            <td>1.85</td>
            <td>1.85</td>
        </tr>
    </tbody>
  </table>
</div></textarea
                >
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>

          <article>
            <h2 class="uid-title02">Table header Fixed</h2>
            <ul class="uid-list">
              <li>
                컴포넌트 클래스 :
                <code class="uid-codeblock">.component-table</code>
              </li>
              <li>컴포넌트 Custom 클래스 : <code class="uid-codeblock">.table-fixed</code>, <code class="uid-codeblock">.thead-fixed</code></li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<div class="component-table table-fixed">
  <table>
    <caption>표제목 : 제목1, 제목2, 제목3, 제목4</caption>
    <col style="width: 25%;">
    <col style="width: 25%;">
    <col style="width: 25%;">
    <col>
    <thead class="thead-fixed">
        <tr>
            <th scope="col">날짜</th>
            <th scope="col">이벤트</th>
            <th scope="col">장소</th>
            <th scope="col">가격</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2월 12일</td>
            <td>함께하는 왈츠	</td>
            <td>정당</td>
            <td>1,3485원</td>
        </tr>
        <tr>
            <td>3월 12일</td>
            <td>오벨리스크</td>
            <td>웨스트 윙</td>
            <td>23,076원</td>
        </tr>
        <tr>
            <td>4월 12일</td>
            <td>무엇</td>
            <td>정당</td>
            <td>73,076원</td>
        </tr>
        <tr>
            <td>4월 12일</td>
            <td >무엇</td>
            <td>정당</td>
            <td>73,076원</td>
        </tr>
        <tr>
            <td>4월 12일</td>
            <td>무엇</td>
            <td>정당</td>
            <td>73,076원</td>
        </tr>
        <tr>
            <td>4월 12일</td>
            <td>무엇</td>
            <td>정당</td>
            <td>73,076원</td>
        </tr>
        <tr>
            <td>4월 12일</td>
            <td>무엇</td>
            <td>정당</td>
            <td>73,076원</td>
        </tr>
        <tr>
            <td>4월 12일</td>
            <td>무엇</td>
            <td>정당</td>
            <td>73,076원</td>
        </tr>
    </tbody>
  </table>
</div></textarea
                >
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>

          <article>
            <h2 class="uid-title02">Table Scroll(horizontal)</h2>
            <ul class="uid-list">
              <li>
                컴포넌트 클래스 :
                <code class="uid-codeblock">.component-table</code>
              </li>
              <li>컴포넌트 Custom 클래스 : <code class="uid-codeblock">.table-scroll</code></li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">
<div class="component-table table-scroll">
  <table>
    <caption>표제목 : 제목1, 제목2, 제목3, 제목4</caption>
    <col style="width: 150px;">
    <col style="width: 150px;">
    <col style="width: 150px;">
    <col style="width: 150px;">
    <col style="width: 150px;">
    <col style="width: 150px;">
    <thead>
        <tr>
            <th scope="col">날짜</th>
            <th scope="col">이벤트</th>
            <th scope="col">장소</th>
            <th scope="col">가격</th>
            <th scope="col">가격</th>
            <th scope="col">가격</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2월 12일</td>
            <td>함께하는 왈츠	</td>
            <td>정당</td>
            <td>정당</td>
            <td>정당</td>
            <td>1,3485원</td>
        </tr>
        <tr>
            <td>3월 12일</td>
            <td>오벨리스크</td>
            <td>웨스트 윙</td>
            <td>웨스트 윙</td>
            <td>웨스트 윙</td>
            <td>23,076원</td>
        </tr>
    </tbody>
  </table>
</div></textarea
                >
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="✔️"></button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->
        </section>
      </main>

      @@include('pathGuideInclude/_component_footer.html')
    </div>
    <script src="pathGuideScripts/component_guide.js"></script>
    <script src="pathGuideScripts/managers/color_manager.js"></script>
    <script></script>
  </body>
</html>
