<!doctype html>
<html lang="ko">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <title>Swiper</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link href="pathStyles/style.css" type="text/css" rel="stylesheet" />
    <script src="pathScripts/common.ui.plugin.js"></script>
    <script src="pathScripts/common.ui.js" data-init></script>
    <script src="pathScripts/common.js"></script>
    @@include('pathGuideInclude/_element_head.html')
    <style>
      .component-swiper {
        overflow: hidden;
      }
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      .thumbs-top {
        position: relative;
      }
      .thumbs-info .swiper-slide {
        opacity: 0.1;
      }
      .swiper-slide-thumb-active {
        opacity: 1;
      }
      .swiper-autoplay {
        padding: 20px;
        border: 1px solid #666;
      }
      .swiper-autoplay.play::before {
        content: "정지";
      }
      .swiper-autoplay.stop::before {
        content: "재생";
      }
    </style>
  </head>
  <body>
    <div id="wrap" style="max-width: 1440px; margin: 0 auto">
      <!-- @@include('_header.html', { "title": "test_title01", "title02": "test_title02" }) -->
      <!--  @@include('_element_menu.html')-->
      @@include('pathGuideInclude/_element_menu.html')

      <div class="pageClassMain uxg-page-container-main" id="container">
        <div id="content" role="main" style="font-size: 1.2rem">
          <div class="prototype-group">
            <div class="prototype-tit"> Swiper </div>
            <!-- swiper -->
            <div class="component-swipers">
              <!-- 1. 기본 swiper -->
              <div class="component-swiper thumbs-top left-fixed" data-component="swiper" data-props-initail-slide="0" data-props-navigation="true" data-props-pagination="true" data-props-speed="700" data-props-space-between="100">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <button><img src="https://i.ibb.co/6Hn3QGG/image.jpg" alt="" /></button>
                  </div>
                  <div class="swiper-slide">
                    <button><img src="https://i.ibb.co/4FpJSG7/image.jpg" alt="" /></button>
                  </div>
                  <div class="swiper-slide">
                    <button><img src="https://i.ibb.co/zVgTPq6/image.jpg" alt="" /></button>
                  </div>
                  <div class="swiper-slide">
                    <button><img src="https://i.ibb.co/6Hn3QGG/image.jpg" alt="" /></button>
                  </div>
                  <div class="swiper-slide">
                    <button><img src="https://i.ibb.co/4FpJSG7/image.jpg" alt="" /></button>
                  </div>
                </div>
              </div>
              <!-- 2. 자동 재생 -->
              <div class="component-swiper thumbs-top left-fixed" data-component="swiper" data-props-initail-slide="0" data-props-navigation="true" data-props-pagination="true" data-props-autoplay="true" data-props-speed="700" data-props-space-between="100">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <button><img src="https://i.ibb.co/6Hn3QGG/image.jpg" alt="" /></button>
                  </div>
                  <div class="swiper-slide">
                    <button><img src="https://i.ibb.co/4FpJSG7/image.jpg" alt="" /></button>
                  </div>
                  <div class="swiper-slide">
                    <button><img src="https://i.ibb.co/zVgTPq6/image.jpg" alt="" /></button>
                  </div>
                  <div class="swiper-slide">
                    <button><img src="https://i.ibb.co/6Hn3QGG/image.jpg" alt="" /></button>
                  </div>
                  <div class="swiper-slide">
                    <button><img src="https://i.ibb.co/4FpJSG7/image.jpg" alt="" /></button>
                  </div>
                </div>
              </div>
              <div class="component-swiper thumbs-top left-fixed" data-component="swiper" data-props-initail-slide="0" data-props-navigation="true" data-props-pagination="true" data-props-autoplay="true" data-props-slides-per-view="3" data-props-speed="700" data-props-space-between="100">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <button><img src="https://i.ibb.co/6Hn3QGG/image.jpg" alt="" /></button>
                  </div>
                  <div class="swiper-slide">
                    <button><img src="https://i.ibb.co/4FpJSG7/image.jpg" alt="" /></button>
                  </div>
                  <div class="swiper-slide">
                    <button><img src="https://i.ibb.co/zVgTPq6/image.jpg" alt="" /></button>
                  </div>
                  <div class="swiper-slide">
                    <button><img src="https://i.ibb.co/6Hn3QGG/image.jpg" alt="" /></button>
                  </div>
                  <div class="swiper-slide">
                    <button><img src="https://i.ibb.co/4FpJSG7/image.jpg" alt="" /></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- @@include('_footer.html') -->
  </body>
</html>
